* {
    padding: 0;
    margin: 0;
}

.button{
    border: none;
    background-color: #0B5ED7;
    border-radius: 5px ;
    width: 8vw;
    height: 6vh;
    margin-left: 68vw;
    margin-top: 1vh;

}

.modal{
    background-color: rgb(0, 0, 0, 0.7);
}

.divHeader{
    display: flex;
    align-items: center;
    height: 10vh;
}


.table {
    margin-top: 1vh;
}




